*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color: aqua;
}



/* REGISTER CONTAINER */

.register-container{
  width: 500px;
  background-color: white;
  margin: auto;
  border: 1px solid black;
}

.instructions{
  display: block;
}

.valid{
  color: green;
}

.invalid{
  color: red;
}

.offscreen{
  display: none;
}

.hide{
  display: none;
}